#!/usr/bin/env sh

export GUILE_LOAD_PATH=./
PASS_HOME="${XDG_STATE_HOME:-$HOME/.local/var/lib}/pass"

MAIL_LIST="$(ls $PASS_HOME | sed 's/\.gpg//' | grep -E '@[-a-z\.]+\.([frcom]){2,3}$')"
for mail in $MAIL_LIST ; do
    username=$(echo $mail | sed -e 's/\([a-z]\)[a-z\.]*@\([-a-z]*\)[\.]*[-a-z]*\.[frcom]*/\1\2/' | sed -e 's/\([a-z]\)\([a-z]\)[a-z]*-\([a-z]\)[a-z]*-\([a-z]\)[a-z]*-\([a-z]\)[a-z]*/\1\2\3\4\5/' -e 's/\([a-z]\)\([a-z]\)[a-z]*-\([a-z]\)[a-z]*/\1\2\3/' | tr '[:lower:]' '[:upper:]')
    export "USER_$username"="$mail"
    export "PASS_$username"="$(gpg -qd $PASS_HOME/$mail.gpg | head -1)"
done ;

#set -o allexport  && eval $(gpg -d env.gpg 2> /dev/null) && set +o allexport
