#!/usr/bin/env sh

export GUILE_LOAD_PATH=./
PASS_HOME="${XDG_STATE_HOME:-$HOME/.local/var/lib}/pass"

SSH_LIST="$(ls $PASS_HOME/ssh | sed 's/\.gpg//')"
for ssh in $SSH_LIST ; do
    content="$(gpg -qd $PASS_HOME/ssh/$ssh.gpg 2>/dev/null)"
    export "URI_$ssh"=$(echo "$content" | rg 'URI' | cut -d' ' -f2-)
    export "HOSTKEY_$ssh"="$(echo "$content" | rg 'HostKey' | cut -d' ' -f2-)"
done ;

MAIL_LIST="$(ls $PASS_HOME | sed 's/\.gpg//' | grep -E '@[-a-z\.]+\.([frcom]){2,3}$')"
for mail in $MAIL_LIST ; do
    username=$(echo $mail | sed -e 's/\([a-z]\)[a-z\.]*@\([-a-z]*\)[\.]*[-a-z]*\.[frcom]*/\1\2/' | sed -e 's/\([a-z]\)\([a-z]\)[a-z]*-\([a-z]\)[a-z]*-\([a-z]\)[a-z]*-\([a-z]\)[a-z]*/\1\2\3\4\5/' -e 's/\([a-z]\)\([a-z]\)[a-z]*-\([a-z]\)[a-z]*/\1\2\3/' | tr '[:lower:]' '[:upper:]')
    export "USER_$username"="$mail"
    export "PASS_$username"="$(gpg -qd $PASS_HOME/$mail.gpg | head -1)"
done ;

SERVICE_LIST="$(ls $PASS_HOME/service | sed 's/\.gpg//')"
for service in $SERVICE_LIST ; do
    content="$(gpg -qd $PASS_HOME/service/$service.gpg 2>/dev/null)"
    export "URI_$service"=$(echo "$content" | rg 'URI' | cut -d' ' -f2-)
    port=$(echo "$content" | rg 'Port' | cut -d' ' -f2-)
    [ -z "${port}" ] || export "PORT_$service"="$port"
    user=$(echo "$content" | rg 'Username' | cut -d' ' -f2-)
    [ -z "${user}" ] || export "USER_$service"="$user"
done ;

#set -o allexport  && eval $(gpg -d env.gpg 2> /dev/null) && set +o allexport
