#!/usr/bin/env sh

export GUILE_LOAD_PATH=./

SSH_LIST="$(rbw list | grep '^ssh_')"
for ssh in $SSH_LIST ; do
    content="$(rbw get --full $ssh 2>/dev/null)"
    export "ID_$ssh"=$(echo "$content" | rg 'Username' | cut -d' ' -f2-)
    export "KEY_$ssh"=$(echo "$content" | head -1 | grep -v 'Username')
    export "URI_$ssh"=$(echo "$content" | rg 'URI' | cut -d' ' -f2-)
    export "PORT_$ssh"=$(echo "$content" | rg 'Port' | cut -d' ' -f2-)
    export "HOSTKEY_$ssh"="$(echo "$content" | rg 'HostKey' | cut -d' ' -f2-)"
done ;

MAIL_LIST=$(rbw list | grep -E '@[-a-z\.]+\.([frcom]){2,3}$')
for mail in $MAIL_LIST ; do
    username=$(echo $mail | sed -e 's/\([a-z]\)[a-z\.]*@\([-a-z]*\)[\.]*[-a-z]*\.[frcom]*/\1\2/' | sed -e 's/\([a-z]\)\([a-z]\)[a-z]*-\([a-z]\)[a-z]*-\([a-z]\)[a-z]*-\([a-z]\)[a-z]*/\1\2\3\4\5/' -e 's/\([a-z]\)\([a-z]\)[a-z]*-\([a-z]\)[a-z]*/\1\2\3/' | tr '[:lower:]' '[:upper:]')
    export "USER_$username"="$mail"
    export "PASS_$username"="$(rbw get $mail)"
done ;

WIFI_LIST="$(rbw list | grep -E '^([0-9a-f]{4,8}_){4}[0-9a-f]{12}$')"
for wifi in $WIFI_LIST ; do
    content="$(rbw get --full $wifi 2>/dev/null)"
    uri=$(echo "$content" | rg 'URI' | cut -d' ' -f2-)
    id=$(echo "$content" | rg 'Username' | cut -d' ' -f2-)
    pass=$(echo "$content" | head -1 | grep -v 'Username')
    if [ -z "${uri}" ];
    then
        [ -z "${pass}" ] || export "PSK_$wifi"="$pass"
        export "ID_$wifi"="$id"
    else
        export "ID_$wifi"="$uri"
        export "IDENTITY_$wifi"="$id"
        export "PASS_$wifi"="$pass"
    fi
done ;

export ID_76db17b3_2394_43e5_b6a2_2f43cce96f7f="$(rbw get --full 76db17b3_2394_43e5_b6a2_2f43cce96f7f 2>/dev/null | rg 'Username' | cut -d' ' -f2-)"
export MAC_76db17b3_2394_43e5_b6a2_2f43cce96f7f="$(rbw get --full 76db17b3_2394_43e5_b6a2_2f43cce96f7f 2>/dev/null | rg 'URI' | cut -d' ' -f2-)"

SERVICE_LIST="$(rbw list | grep '^service_')"
for service in $SERVICE_LIST ; do
    content="$(rbw get --full $service 2>/dev/null)"
    export "URI_$service"=$(echo "$content" | rg 'URI' | cut -d' ' -f2-)
    port=$(echo "$content" | rg 'Port' | cut -d' ' -f2-)
    [ -z "${port}" ] || export "PORT_$service"="$port"
    user=$(echo "$content" | rg 'Username' | cut -d' ' -f2-)
    [ -z "${user}" ] || export "USER_$service"="$user"
done ;

#set -o allexport  && eval $(gpg -d env.gpg 2> /dev/null) && set +o allexport
