[submodule "channels/rde"]
	path = channels/rde
	url = https://git.sr.ht/~abcdw/rde
[submodule "channels/guix"]
	path = channels/guix
	url = https://git.savannah.gnu.org/git/guix.git
[submodule "channels/nonguix"]
	path = channels/nonguix
	url = https://gitlab.com/nonguix/nonguix.git
[submodule "channels/odf-dsfr"]
	path = channels/odf-dsfr
	url = https://git.sr.ht/~codegouvfr/odf-dsfr
[submodule "channels/pass"]
	path = channels/pass
	url = git@git.sr.ht:~ngraves/pass
[submodule "channels/guix-stack"]
	path = channels/guix-stack
	url = git@git.sr.ht:~ngraves/guix-stack
